[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
python-consul = "~= 1.1"
pyopenssl = "~= 18.0"

# Pin certbot and acme to the system-wide versions (see SE-2197)
certbot = "==0.31.0"
acme = "==0.31.0"
mock = "==3.0.5"

[dev-packages]
pylint = "*"
rope = "*"
pytest = "*"

[requires]
# Match version on Ubuntu LTS 16.04.6
python_version = "3.5.2"
