[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
certbot = "*"
python-consul = "*"
pyopenssl = "*"

[dev-packages]
pylint = "*"
rope = "*"
pytest = "*"

[requires]
python_version = "3"
